body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-image: url(./images/book-background.png);
    background-attachment: fixed;
    background-size: cover;
}

.intro-box h1 {
    font-size: 36px;
    margin-bottom: 8px;
    color: #3498db;
    text-align: center;
}

.intro-box p {
    font-size: 20px;
    font-style: italic;
    color: #444646;
}

h2,
p {
    text-align: center;
    color: #2c3e50;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #2c3e50;
}

form,
.intro-box,
.results,
.readingVault {
    background: #ffffff;
    padding: 24px;
    margin: 16px auto;
    max-width: 650px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    border: 2px solid #ecf0f1;
}

.bookformat input[type="radio"],
.genre input[type="radio"] {
    margin: 0;
    accent-color: #3498db;
}

.bookformat label,
.genre label {
    margin: 0;
}

.bookformat,
.genre {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 12px;
}

input {
    width: 97%;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    border: 2px solid #ecf0f1;
    font-size: 16px;
    background-color: #fafafa;
}

input:focus {
    outline: none;
    border-color: #3498db;
    background-color: #f4f6fa;
}

select {
    width: auto;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    border: 2px solid #ecf0f1;
    background-color: #fafafa;
}

select:focus {
    outline: none;
    border-color: #3498db;
    background-color: #f4f6fa;
}

button {
    margin-top: 5px;
    margin-bottom: 16px;
    padding: 12px 24px;
    background-color: #006ab1;
    color: #ffffff;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: #003d63;
    transition: 0.3s;
}

.book-card {
    border: 1px solid #dcdfe1;
    border-radius: 12px;
    padding: 20px;
    margin: 16px 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.book-card h3 {
    text-align: center;
    margin-bottom: 8px;
    font-size: 18px;
    color: #0070ba;
}

.book-card p {
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
}

.book-card button {
    background-color: #7b0086;
    color: #ffffff;
    padding: 12px;
    margin-top: 16px;
    width: fit-content;
    cursor: pointer;
    border-radius: 12px;
    font-size: 16px;
    border: none;
}

.book-card button:hover {
    background-color: #4a0051;
}