body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-image: url(./images/book-background.png);
    background-attachment: fixed;
    background-size: cover;
}

.intro-box h1 {
    font-size: 36px;
    margin-bottom: 8px;
    color: #3498db;
    text-align: center;
}

.intro-box p {
    font-size: 20px;
    font-style: italic;
    color: #444646;
}